<div *ngIf="weather">
    <div>
        <p class="Weather-location">{{ weather.location.name }}, {{ weather.location.country }}</p>
        <p class="weather-time">{{ weather.location.localtime }}</p>
    </div>

    <div class="Weather-today">
        <div class="Weather-current">
            <div class="Current-condition">
                <img class="Current-condition-icon" src='{{ weather.current.weather_icons }}' />
                {{ weather.current.weather_descriptions }}
            </div>
            <p class="Current-temp">
                {{ weather.current.temperature }}
                <span class="Current-temp-symbol">C</span>
            </p>
        </div>
    </div>
</div>

<div *ngIf="!weather">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>